/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Or Utilities------------------------------------------------------------------------------------------------------------------------ */

body{
    font-family: 'Poppins', sans-serif;
}


/* Header part css start
------------------------------------------------------------------------------------------------------------  */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    
    width: 1321px;
    
}
.header-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    background-color: #161616;
    border-radius: 15px;
}
.header-part .headline{
    color: white;
    font-size: 70px;
}
.header-part .banner-description{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header-part .highlight{
    background-color:#DD0000 ;
    padding: 12px 25px;
    border-radius:5px;
    border: none;
    font-size:20px ;
    color: white;
}
.fa-angle-right{
    margin-left:10px ;
}
.header-info{
    margin-left:106px ;
    margin-bottom: 106px;
}
.bannner-image img{
    width: 581px;
}

/* Header part css end
---------------------------------------------------------------------------------------------------------------------------  */



/* Main css start ------------------------------------------------------------------------------------------------------------ */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
}
.match-schdule{
    display: flex;
}

.sorting{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 15px;
    justify-content: space-around;
    padding:25px 40px;
}
button{
    width:252px ;
    height:64px ;
    border-radius: 10px;
    border: none;
    background-color:white ;
    font-size: 20px;
    font-weight: 600;
}

button.highlight{
    background-color:#DD0000 ;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}
.blog{
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}
.blog-title{
    font-size: 18px;
    font-weight: 600;
    color: #161616;
    margin-top: 16px;
}
.thumbnail img{
    width: 100%;
}
.blog-info{
    margin-left: 15px;
    margin-bottom: 20px
}
p.transfer{
    color: #161616;
    border: 1px solid #161616 ;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 17px;
    border-radius: 8px;
    margin-top: 24px;
}
.fa-clock, .fa-comment-dots{
    font-size: 18px;
    margin-right: 13px;
    color: #161616;
}
.fa-comment-dots{
    margin-left: 20px;
}
.icon{
    margin-top: 20px;
}
.count{
    font-size: 16px;
    color: #161616;
}

/* Main Part Css End --------------------------------------------------------------------------------------------------------------------- */

footer{
    background-color: #161616;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.goal{
    font-size:40px ;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 130px ;

}
hr{
    border: 1px solid #B9B9B9;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
    margin-top:50px ;
    padding: 0 150px;

}
.nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
    
}



/* index2 css start  */

.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
    align-content: space-between;
}
.match{
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    padding:53px 25px;

}
.match-thumbnail{
    display: flex;
    align-items: center;
}
.match-info{
    display: flex;
    flex-direction: column;

}
.match-vs{
    font-size: 16px;
    font-weight: 700;
    color: #161616;
    margin:0 23px;
}
.country-name{
    font-size: 20px;
    font-weight:600;
    color:#161616 ;
    margin-bottom: 0;
}
.match-time{
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4D;
}


/* .matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}
.match{
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    padding: 53px 40px;
    margin-top: 5px 23px;
    text-align: center;
}

.match-thumbnail{
    display: flex;
    align-items: center;
}

.country-name{
    font-size: 20px;
    font-weight: 600;
    color:#161616 ;
}
.match-time{
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4D;
}
p{
    font-size: 16px;
    font-weight: 700;
    color: #161616;
    text-align: center;
} */